.navbar {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    box-shadow: 0px 4px 4px rgba(17, 64, 59, 0.08);

    .navbar__container{
        display: flex;
        align-items: center; 
        width: 100%;
        height: inherit;
        padding: 0px 20px;
        flex: 1;
        .navbar__container__logo{
            cursor: pointer;
        }
    }

    .navbar__container__menu {
        display: flex;
        list-style: none;
        text-align: center;

        .navbar__container__menu__item {
            margin-right: 1.5rem;
            font-size: 1.6rem;
            width: 100px;
        }
        
        .navbar__container__menu__item__links{
            text-decoration: none;
            padding: 0.5rem;
            color: #022626;
            font-weight: 500;
            font-family: "Roboto", sans-serif;
        }

        .activeLink {
            color: #FFA500;
            text-decoration: underline;
        }
    }
}

@media only screen and (max-width : 768px){
    .navbar {
        justify-content: space-between;    
        .navbar__container__menu {
            justify-content:flex-start;
            overflow: auto;
            width: 100%;
            white-space: nowrap;
            padding-top: 1rem;

            .navbar__container__menu__item {
                padding-bottom: 1rem;
            }
        }
        
    }
}